
body{
    margin: 0;
    padding: 0;
    background: url(Nasihatler-arkaplan-resimleri-032.jpg.webp);
    background-size: cover;
}
.box{
    float:left;
    width: 530px;
    height: 320px;
    padding: 10px;
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
}
.container{
    float:left;
    margin-top: 200px;
    margin-left: 100px;
}